body {}

div.main-container {
    padding: 3rem 0;
}

div.plateau {    
    margin: 2vw auto;

    background-color: #000;
    overflow: hidden;    

    &.disabled {       
        div.plateau-cell {
            pointer-events: none;

            -webkit-box-shadow: 0 0 0 $cell-border-size rgba(240, 100, 50, 1);
            -moz-box-shadow: 0 0 0 $cell-border-size rgba(240, 100, 50, 1);
            box-shadow: 0 0 0 $cell-border-size rgba(240, 100, 50, 1);     
        }
    }

    div.plateau-cell {        
        height: 1vw;
        width: 1vw;
        float: left;

        -webkit-box-shadow: 0 0 0 $cell-border-size rgba(90, 254, 61, 1); 
        -moz-box-shadow: 0 0 0 $cell-border-size rgba(90, 254, 61, 1); 
        box-shadow: 0 0 0 $cell-border-size rgba(90, 254, 61, 1); 
        cursor: pointer;

        &.live {
            background-color: #FFF000;
        }
    }
}

// GRID COMPONENT
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}