// Colours, https://coolors.co/
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;

$accent-color:         #448AFF;
$primary-text-color:   #333333;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// Fonts
$roboto: 'Roboto', sans-serif;
