// Colours, https://coolors.co/
$primary-color-dark:   #3760fa;
$primary-color:        #5074fb;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;

$accent-color:         #448AFF;
$primary-text-color:   #333333;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// Fonts
$roboto: 'Roboto', sans-serif;

// others
$cell-border-size: 0.03vw;
$cell-size: 1vw;
